.banner-section{
    background:-webkit-linear-gradient(rgba(0, 0, 0, 0.348),rgba(0, 0, 0, 0.348)), url('/src/assets/Bike-images/Rectangle\ 52.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: left;
    padding: 4rem 1rem;
  }
  
.banner-card-area{
    display: flex;
    justify-content: space-between;
  }

.banner-card-area h1 {
   color: white;
   font-size: 2rem;
   margin-bottom: 1rem;
  }

.banner-card-area p{
    color:white;
}

.form {
    background:transparent;
    backdrop-filter: blur(5px);
    justify-content: center;
    align-items: center;
    filter: blur(50%);
    border-bottom: 3px solid #E15352;
    padding: 4%;
  }

  .form input {
    width:15rem;
    margin-top: 10px ;
    padding-left:10px;
    height: 30px;
    background: transparent;
    border-radius: 40px;
    border: 1px solid hsl(0, 0%, 100%);
  }

  .form input::placeholder{
    color: white;
    font-size: 10px;
  }
  
  .bttn{
    padding: 0.5rem 1.5rem;
    margin-top: 10px;
    border-radius:40px;
    background: #E15352;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 10px;
  }

  .card-area{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
}

.card{
   margin: 10%;
}
  
  
  /* Features Section */
.features-section h2{
  color: #E15352;
}
  .features-section {
    padding: 2rem 1rem;
    text-align: center;
  }
  
  .feature {
    padding: 1rem;
    margin: 1rem;
    border-bottom: 2px solid #E15352;
    text-align: left;
  }

  .feature h4{
    color: #E15352;
  }

 .feature p{
  color: #827e7e;
 }

 .icon{
  padding: 0.8rem;
  margin-right: 1rem;
  background: #e1525242;
  border-radius: 48%;
 }

 img.icon{
  font-size:8px;
  transform:translateY(5%);
 }
  
  /* Comparison Section */
  .comparison-section {
    padding: 2rem 1rem;
    text-align: center;
  }
  .comparison-section h2 {
    color: #E15352;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 15%;
    border-collapse: separate;
    border-radius: 10px;
    border-spacing: 0;
    overflow: hidden;
  }

  table thead tr th{
    background: #E15352;
    color: white;
    padding:1rem 0 1rem 3rem;
  }
  
  th, td {
    padding: 0.5rem 0 0.5rem 3rem;
    border-bottom: 1px solid #E15352;
    text-align:left;
    background: #e1525242;
    color: #827e7e;
  }

/* Tracker section start */
.tracker-section img{
    height: 260px;
    width: 300px;
  }
  .tracker-section h4{
    color: #E15352;
  }

 .tracker-section p{
    color: #827e7e;
    line-height:1.5rem;
  
 }
  /* App Section */
  .app-section {
    padding: 3rem;
    text-align: left;
    background: #E15352;
    border-radius: 20% 0 20% 0;
    position:relative;
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .app-card{
    width: 40%;
  }

  .app-card h4{
    color: white;
    font-size: 2rem;
  }

  .app-card p{
    line-height:2rem;
  }


  .app-card-area{
    display: flex;
    margin: 5%;
  }

  .phone-img{
    position: absolute;
    margin-top: -12%;
    margin-left: 30%;
  }
  
  .app-card button{
    border-radius:10%;
  }

  .pay-button{
    margin-right: 7%;
  }
  
  

  /* Responsive Design */
  @media (max-width: 768px) {
    .banner-section {
      text-align: left;
      padding: 2rem;
    }
  }

  @media (max-width:776px) {
    .card-area{
        grid-template-columns: repeat(1,1fr);
    }.banner-card-area{
        display:block;
    }
    .app-card-area{
      display: block;
    }

}