*{
  margin: 0;
  padding: 0;
}

.container{
  margin: 0 auto;
  max-width: 1440px;
  width: 96%;
}

.contact-tex{
    text-align: center;
    color: crimson;
}

.Container-from{
width: 450px;
margin: 60px;

border-radius:5 px;
box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
.row{
padding-top: 50px;
}

input{
width: 200%;
padding: 10px;
display: grid;
margin-bottom: 45px;
border: none;
border-bottom: 2px solid #ccc;
border-radius: 4px;
border-color: crimson;
}

.gap input{
height: 20px;
margin-bottom: 10px;
padding-bottom: 100px;
}

.checkbox-Container{
display:flex;
width: 135%;
margin-left: 10px;

}

.type{
display: flex;
gap: 35px;
width: 200%;
}

button{
background-color:crimson;
color: white;
padding: 15px 35px;
border: none;
border-radius: 10px;
}