*{
    margin: 0;
    padding: 0;
}
.container{
    margin: 0 auto;
    max-width: 1440px;
    width: 96%;
}
.banner-img{
    background:url('/src/assets/About-Us/img/banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 754px;
}

.banner-text-area h2{
    color: #ffffff;
    text-align: center;
    padding-top: 22rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.banner-text-area h5{
    color: #ffffff;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;   
}
/* services-area-start */
.services {
    color:#E15352;
    text-align: center;
    margin-top: 20px;
    
}
.services span{
    color: #000;
 }
.service-img{
    Width: 380px;
    Height: 636px;
    margin-top: 20px;
}
.our-core{
    color:#E15352;
    padding-top: 1.5rem; 
}
.our-core p{
    color: #455A64;
  
}
.management span{
    border-bottom: 3px solid #E15352;
}
.gps{
    color:#E15352; 
}
.our-main{
    color: #455A64;  
}
.fleet-area{
    margin-top: -9rem;
}
.fleet{
    color:#E15352;  
}
.our-other{
    color: #455A64; 
}
.public{
    color:#E15352;  
}
.our{
    color: #455A64;   
}
/* our-service-area-end */

/* our-story-area-start */

.our-story{
    color:#E15352;
    text-align: center;
    margin-bottom: 3rem;
}
.story span{
    color: #000;
 } 
 .number{    
    color: #E15352;
    text-align: center;

}
.number-area{
    text-align: center;
}

.text{
    color: #455A64;
    border-bottom: 3px solid #E15352;
    text-align: center;
    margin-top: 2rem;

}
.number-3{
    color: #E15352;
    text-align: center;
    margin-top: 1rem;

}
/* our-story-area-emd */

/* leaf-area-start */

.fastest{
    color: #E15352;
  
}
.fastest span{
    border-bottom: 3px solid #E15352;
}
.we{
    color:#455A64;
    margin-top: 1rem;

}
.leaf{
    color:#E15352;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 3rem;
}
.leaf span{
    color: #000;
 }
 .leaf-img{
    margin-left: 25rem; 
 }

 /* leaf-area-end */

@media screen and (max-width: 1024px) {
    .banner-img{
        background-repeat: no-repeat;
        background-size: cover; 
       }
}
@media screen and (max-width: 824px) {
    .banner-img{
        background-repeat: no-repeat;
        background-size: cover;
       }
    .fleet-area{
        margin-top:-3rem;
    }
    .our-other{
       margin-top: -7rem;
    }
    .fastest{
      margin-top: 3rem;
      
    }
    .leaf-img{
        margin-left: 3rem;
    }


}
@media screen and (max-width: 465px) {
    .banner-img{
        background-repeat: no-repeat;
        background-size: cover; 
       }
       
}

