*{
    margin: 0;
    padding: 0;
}
.container{
    margin: 0 auto;
    max-width: 1440px;
    width: 96%;
}
.background-img{
    background-image:url('/src/assets/About-Us/img/banner.png');
    height: 616PX;
    background-size: cover;
    background-repeat: no-repeat;
    width: 1280px;
    height: 474px;
    top: 56px;
    gap: 0px;
    opacity: 0px;

   }
.background-text-area h1{
    width: 534px;
    height: 36px;
    top: 252px;
    left: 373px;
    gap: 0px;
    opacity: 0px;
    font-family: Author;
    font-size: 32px;
    font-weight: 596;
    line-height: 35.52px;
    letter-spacing: 0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #ffffff;



}
.background-text-area h5{
    width: 462px;
    height: 35px;
    top: 298px;
    left: 409px;
    gap: 0px;
    opacity: 0px;
    font-family: Author;
    font-size: 20px;
    font-weight: 375;
    line-height: 35px;
    letter-spacing: 0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #ffffff;


}