.bg {
    background-color: #B34040;
    margin-top: -50px;
    display: flex;
    justify-content: space-between;
}
.footer-link{
    display: flex;
    justify-content: space-between;
}
li{
    list-style-type: none;
}
.footer{
    display: block;
}
/* .Faq{
    padding-left: 50px;
} */
/* .privacy{
    padding-left: 100px;
} */

.p{
    color: #fff;
}
a {
    text-decoration: none;
    color: #fff;
}
.footer-l{
    display: flex;
}

.footer-logo-flex{
    display: flex;
}
.text-foot{
    color:#FFFFFF4D;
    opacity: 30%;
}
.bg-1 {
    background-color: #B34040;
    /* padding: 10px; */
    display: flex;
    justify-content: space-between;
    border-top: solid #fff;
   
}
.pera{
    padding-left: 40px;
}
.bg-1-num{
    padding-left: 550px;
}
@media (max-width :968px) {
    .bg{
        display: block;
        width: 100%;
    }
    .bg-1{
        display: block;
        width: 100%;
    }
    .footer-l{
        
        display: block;
        width: 100%;  
    }
    .privacy{
        padding-left: 0px;
    }
    .footer-logo-flex{
        display: block;
        width: 100%;
    }
    .footer-link{
        display: block;
        width: 100%;  
    }
    .Faq{
        padding-left: 0px;
    }
}
/* .copyright {
    display: flex;
    justify-content:space-between;
    
} */
/* .cpy{
    padding-left: 500px;
} */