.banner-section{
    background:-webkit-linear-gradient(rgba(0, 0, 0, 0.348),rgba(0, 0, 0, 0.348)), url('/src/assets/car/image/car-photo/car-photo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    color: white;
    text-align: left;
    padding: 10rem 4rem;
    height: 550px;
    
    
  }
  
.banner-area{
    display: flex;
    justify-content: space-between;
  }

.banner-area h1 {
   color: white;
   font-size: 2rem;
   margin-bottom: 1rem;
  }

.banner-area p{
    color:white;
}

.form {
    background:transparent;
    backdrop-filter: blur(5px);
    justify-content: center;
    align-items: center;
    filter: blur(50%);
    border-bottom: 3px solid #E15352;
    padding: 4%;
    margin-right: 200px;
  }

  .form input {
    width:15rem;
    margin-top: 10px ;
    padding-left:10px;
    height: 30px;
    background: transparent;
    border-radius: 40px;
    border: 1px solid hsl(0, 0%, 100%);
  }

  .form input::placeholder{
    color: white;
    font-size: 10px;
  }
  
  .bttn{
    padding: 0.5rem 1.5rem;
    margin-top: 10px;
    border-radius:40px;
    background: #E15352;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 10px;
  }

  .card-area{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
}

.card{
   margin: 10%;
}
  
  
  /* real-time Section */
.real-time-section h2{
  color: #E15352;
}
  .real-time-section {
    padding: 2rem 1rem;
    text-align: center;
  }
  
  .real-time {
    padding: 1rem;
    margin: 1rem;
    border-bottom: 2px solid #E15352;
    text-align: left;
  }

  .real-time h4{
    color: #E15352;
  }

 .real-time p{
  color: #827e7e;
 }

 .real-time{
  padding: 0.8rem;
  margin-right: 1rem;
 }

 .real-time-icon{
  font-size:8px;
  transform:translateY(5%);
  background-color: #e1525265;
  padding: 10px;
  border-radius: 50%;
  margin-right: 10px;
 }
  
  /* dash-board Section */
  .dash-board-section {
    padding: 2rem 1rem;
    text-align: center;
  }
  .dash-board-section h2 {
    color: #E15352;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 15%;
    border-collapse: separate;
    border-radius: 10px;
    border-spacing: 0;
    overflow: hidden;
  }

  table thead tr th{
    background: #E15352;
    color: white;
    padding:1rem 0 1rem 3rem;
  }
  
  th, td {
    padding: 0.5rem 0 0.5rem 3rem;
    border-bottom: 1px solid #E15352;
    text-align:left;
    background: #e1525242;
    color: #827e7e;
  }
  
  /* car section start */
  .car-section img{
    height: 260px;
    width: 300px;
    margin-left: 50px;
  }
  .car-section h4{
    color: #E15352;
  }

 .car-section p{
    color: #827e7e;
    line-height:1.5rem;
  
 }
  /* phone Section */
  .phone-section {
    padding: 3rem;
    text-align: left;
    background: #E15352;
    border-radius: 20% 0 20% 0;
    position:relative;
    margin-top: 10%;
    /* margin-bottom: 10%; */
  }

  .phone-card{
    width: 40%;
  }

  .phone-card h4{
    color: white;
    font-size: 2rem;
  }

  .phone-card p{
    line-height:2rem;
  }


  .phone-card-area{
    display: flex;
    margin: 5%;
  }

  .app-card-area-phone{
    display: flex;
  }

  .phone-app-img{
    position: absolute;
    margin-top: -7%;
    margin-left: 30%;
  }
  
  .phone-card button{
    border-radius:10%;
  }

  .phone-pay-button{
    margin-right: 7%;
  }



.book-area-start{
    /* background-color: rgba(110, 220, 62, 0.198); */
    padding: 50px 0 50px 0;
}

.book-card{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    margin-top: 40px;
    

    
}
/* .book{
    background-color: #c1333377;
    border: 5px solid rgb(175, 169, 213);
    padding: 30px;
    border-radius: 10px;
} */


.book-text{
  padding: 2rem 1rem;
  text-align: center;
  
}
.book-text h2{
  color: #E15352;
  
}

/* .book{
  height: 208px;
  width: 208px;
  margin-right: 30px;

} */

.book p{
  font-size: 12px;
  color: #E15352;
  margin-top: 15px;
}



  /* Responsive Design */
@media (max-width: 1068px) {
  .book-card{
    grid-template-columns: repeat(3, 1fr);
  }
    
  }
@media (max-width: 768px) {
    .banner-section {
      text-align: left;
      padding: 2rem;
      
    }
    
  }


  /* @media (max-width: 768px) {
    .banner-section {

      
    }
    
  } */



@media (max-width:776px) {
    .card-area{
        grid-template-columns: repeat(1,1fr);
    }
    .banner-card-area{
        display:block;
    }
    .phone-card-area{
      display: block;
  }
  .phone-app-img{
    margin-top: 7%;
    margin-left: 8%;
  }

}



/* 
@media screen and (max-width: 1024px) {
  .card{
      grid-template-columns: repeat(4, 1fr);
  }
} */
@media screen and (max-width: 768px) {
  .book-card{
      grid-template-columns: repeat(2, 1fr);
      margin-top: 40px;
  }
}
@media screen and (max-width: 668px) {
  .book-card{
      grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 468px) {
  .book-card{
      grid-template-columns: repeat(1, 1fr);
  }
}